---
title: Mark Hagethorn
layout: default
---
<header id="begin">
	<time datetime="{{ site.time | date_to_long_string }}" id="top_time">{{ site.time | date_to_long_string }}</time>
</header>

{% for post in site.posts %}

	{% if post.external-url %}
		<article class="post external">
		  <h2 class="entry-title">
				<a href="{{ post.external-url }}" target="_blank">
		    	{{ post.title }}
					<i class="fa fa-external-link"></i>
		  	</a>
			</h2>
		</article>
	{% else %}

  <article class="post">
    <h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="entry-content">
      {{ post.content }}
    </div>
  </article>
{% endif %}
{% endfor %}
